/**
 * @section Base Styles
 */

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	padding: 0;
}

input,
textarea,
select,
button {
	font: inherit;
}

// Layout

.flex {
	&-normal {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&-column {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}